---
import { type CollectionEntry, getCollection } from 'astro:content';
import Base from '@layouts/Base.astro';

export async function getStaticPaths() {
	const cases = await getCollection('cases');
	const paths = cases.map((work) => {
		const [lang, ...slug] = work.slug.split('/');
		return { 
			params: { lang, slug: slug.join('/') || undefined }, 
			props: work 
		};
	});
	return paths;
}

type Props = CollectionEntry<'cases'>;

const work = Astro.props;
const { Content } = await work.render();

---
<Base {...work.data}  title={"Amexio Fuse - " + work.data.title}>
	<div class="prose prose-invert mx-auto py-20 text-white">
		<img class="rounded-t-3xl" width={720} height={360} src={work.data.heroImage} alt="" transition:name={work.slug} />
		<h1 class="text-bold text-3xl text-white" transition:name={work.slug + "_title"}>{work.data.title}</h1>
		<p class="text-sm">
		</p>
		<Content />
	</div>
</Base>
