---
import { getCollection } from 'astro:content';
import { i18nParams } from '../../../i18n/consts'
import Base from '@layouts/Base.astro';
import HeroHeader from '@components/uicomposition/HeroHeader.astro';

import { useTranslations } from 'src/i18n/utils';
import BlogPreview from '@components/uielements/BlogPreview.astro';
const { lang } = Astro.params;

const posts = (await getCollection('blog', (post) => {
                return !post.data.draft 
                        && getPostLangAndSlug(post).lang === lang 
            }))
			.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

export function getStaticPaths() {
  return i18nParams;
}


function getPostLangAndSlug(post) {
	const [lang, ...slug] = post.slug.split('/');
	return {lang, slug}
}
const t = useTranslations(lang, 'blog');

---	
<Base title={t('blog.title')} description={t('blog.seoDescription')}>
    <HeroHeader 
		headline={t('hero.headline')}
		text={t('hero.subheadline')}
	/>

	<div class="mb-20 motion-safe:animate-fade-up motion-safe:animate-delay-500">
		{
			posts.map((post, index) => (
				( index == 0) &&
				<BlogPreview highlighted blogData={post.data} link={`./${getPostLangAndSlug(post).slug}/`} />
			))
		}
	</div>

	<div class="motion-safe:animate-fade-up motion-safe:animate-delay-1000 relative grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 py-20 w-full gap-8 before:-z-10 before:bg-light-blue-50 before:absolute before:-left-[3000px] before:top-0 before:bottom-0 before:right-[1000px] marker:before:h-full before:w-[10000px] before:rounded-xl">
		{
			posts.map((post, index) => (
				(index > 0) &&
				<BlogPreview blogData={post.data} link={`./${getPostLangAndSlug(post).slug}/`} />
			))
		}
	</div>
</Base>