---
export const prerender = true;
import Base from "src/layouts/Base.astro";
import Button from "src/components/uielements/Button.astro";
import { getLocale } from "i18n:astro";

import { siteConfigQuery } from "src/api/queries";
import { loadQuery } from "src/api/sanity";
import type { SiteConfigQueryResult } from "src/sanity/sanity.types";
import { t } from "i18next";

const { data: siteConfig } = await loadQuery<SiteConfigQueryResult>({
  query: siteConfigQuery,
  params: { language: getLocale().toLowerCase() },
});
---

<Base
  title={t("404.title", { defaultValue: "Page Not Found" })}
  description={t("404.title", { defaultValue: "" })}
  slug="404"
  siteConfig={siteConfig}
>
  <section class="">
    <div class="mx-auto max-w-screen-xl px-4 py-40 lg:px-6 lg:py-40">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1
          class="lg:text-9xl mb-4 text-4xl font-extrabold tracking-tight text-tertiary"
        >
          404
        </h1>
        <p class="mb-4 text-xl font-bold text-white md:text-4xl">
          {t("404.headline", { defaultValue: "" })}
        </p>
        <p class="mb-4 text-lg font-light text-white">
          {t("404.text", { defaultValue: "" })}
        </p>
        <Button class="mt-4 inline-block" link="/" style="primary" color="dark"
          >{t("404.button", { defaultValue: "" })}
        </Button>
      </div>
    </div>
  </section>
</Base>
