---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<svg
  class:list={["logo", className]}
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  viewBox="0 0 350 73"
  aria-hidden="true"
  focusable="false"
>
  <path
    class="white"
    d="M.9,37.6C.9,23.8,12,12.6,25.8,12.6s24.9,11.2,24.9,25.1-11.2,25.1-24.9,25.1S.9,51.5.9,37.6ZM3.6,37.6c0-12.3,9.9-22.3,22.2-22.3s22.2,10,22.2,22.3-9.9,22.3-22.2,22.3S3.6,49.9,3.6,37.6Z"
  ></path>
  <path
    class="white2"
    d="M39.6,49.3l-17.8-20.8s-1.4-1.9-3.4-2h-6.7l17.8,20.8s1.4,1.9,3.4,2h6.7Z"
  ></path>
  <path
    class="orange"
    d="M39.5,26.5l-17.7,20.8s-1.4,1.9-3.4,2h-6.7s17.7-20.8,17.7-20.8c0,0,1.4-1.9,3.4-2h6.7s0,0,0,0Z"
  ></path>
  <path
    class="white2"
    d="M171.8,38l-9.6-11.3h4.9c1.6,0,2.8,1.7,2.8,1.7h0c0,0,5,5.9,5,5.9l5-5.9h0s1.2-1.6,2.9-1.7h4.9s-9.6,11.3-9.6,11.3l9.9,11.5h-4.9c-1.6,0-2.8-1.7-2.8-1.7h0c0,0-5.3-6.1-5.3-6.1l-5,5.9h0s-1.5,1.8-3.1,1.9h-4.9s9.8-11.5,9.8-11.5h0Z"
  ></path>
  <g>
    <polygon
      class="white2"
      points="109.4 38.7 99.4 26.6 93 26.6 93 49.4 98.5 49.4 98.5 33.2 98.6 33.2 109.4 46.3 120.3 33.2 120.3 33.2 120.3 49.4 125.9 49.4 125.9 26.6 119.4 26.6 109.4 38.7"
    ></polygon>
    <path
      class="white2"
      d="M69.6,26.6l-12.1,22.7h5.6l2.6-4.9h14.6l2.6,4.9h5.6l-12.1-22.7h-6.8ZM68,40.1l5-9.3,5,9.3h-10,0Z"
    ></path>
    <rect class="white2" x="192.5" y="26.6" width="5.5" height="22.7"></rect>
    <polygon
      class="white2"
      points="137.6 40 150.9 40 150.9 35.7 137.6 35.7 137.6 31 156.7 31 156.7 26.6 132.1 26.6 132.1 49.4 157.6 49.4 157.6 45 137.6 45 137.6 40"
    ></polygon>
    <path
      class="white2"
      d="M230.7,29.7c-1.4-1.2-3.2-2.1-5.1-2.8-2-.7-4.1-1-6.4-1s-4.4.3-6.4,1-3.7,1.6-5.1,2.8c-1.3,1.1-2.3,2.3-2.9,3.7-.7,1.4-1,2.9-1,4.6s.3,3.2,1,4.6c.6,1.4,1.6,2.6,2.9,3.7,1.4,1.2,3.1,2.1,5.1,2.8,2,.6,4.1,1,6.4,1s4.5-.3,6.5-1c2-.6,3.7-1.6,5.1-2.8,2.6-2.2,3.9-4.9,3.9-8.3s-1.3-6.1-3.9-8.3h0ZM228.2,41.1c-.5.9-1.1,1.7-2,2.4-.8.7-1.9,1.2-3.1,1.6-1.2.4-2.6.5-4.1.5s-2.9-.2-4-.5c-1.2-.4-2.2-.9-3.1-1.6-.8-.7-1.5-1.5-1.9-2.4-.5-.9-.7-2-.7-3.1s.2-2.2.7-3.1c.5-.9,1.1-1.7,2-2.4s1.9-1.2,3.1-1.6,2.5-.6,4-.6,2.8.2,4,.6c1.2.4,2.2.9,3.1,1.6.8.7,1.5,1.5,2,2.4s.7,2,.7,3.1-.2,2.2-.7,3.1Z"
    ></path>
  </g>
  <g class="fuse">
    <path
      class="orange"
      d="M308,33.6c-.8-1.6-1.5-3-1.5-4.5,0-.6.2-1.1.2-1.7,0-.3-.1-.6-.2-.9-.3.1-.7.2-.8.4-.2.8-.5,1.6-.5,2.3,0,1.9,1.1,3.5,1.8,5.2.7,1.6,1.4,3.3,2,5,.3,1,.3,2.1.3,3.2,0,.3-.2.7-.5.9-.6.5-1.3.8-2,1.2-.4.2-.7.4-.5.9.2.5.6.3,1,.2,1.5-.6,2.7-1.6,3.8-2.7,3.1-3.3,6.2-6.5,9.3-9.8,2.2-2.2,4.4-4.4,7.2-5.9,1.6-.9,3.2-1.5,5.1-1.4,2.8,0,4.3,1.8,4,4.6-.3,3.3-2.2,5.7-4.7,7.7-2.8,2.1-5.9,3-9.5,3.2.4-1.5,1.1-2.8,1.9-4,.1-.2.4-.2.7-.3,2.7-.6,4.8-2.1,6.4-4.3.4-.5.9-1.1.5-1.8-.5-.7-1.3-.4-1.9-.1-.9.4-1.8.9-2.6,1.5-3.1,2.6-5.4,5.9-6.2,10-.5,2.7.6,4.6,3.8,4.7.8,0,1.6,0,2.4-.2,2.6-.4,5.3-1.6,7.2-3.3.2-.2.5-.5.7-.7,1-.8,2.3-.7,3,.2.8.9.8,2.2,0,3-2,2-4.8,3.4-7.5,4.4-2.5.9-5.1,1.2-7.8.9-4.5-.5-6.9-3.6-6.4-8.1,0-.6.2-1.2.3-1.8,0-.4.1-.9-.4-.9-.3,0-.7.4-.7.7-.2,1-.3,2.1-.4,3.1,0,.4-.2.9-.5,1.2-3.3,3.5-7.2,5.8-12.1,6-.7,0-1.3,0-2-.1-1.6-.3-2.5-1.2-2.5-2.6,0-1.3.9-2.5,2.3-2.8.5-.1,1.1-.1,1.6-.1,1.5,0,2.1-.5,2.3-2,.3-2.4-.4-4.6-1.4-6.7-.9-2-1.8-4-2.4-6.1-.7-2.2-.4-4.4.9-6.4,1.4-2,4-2.8,6.3-1.9,1.1.4,1.8,1.3,2.2,2.4.5,1.6.5,3.3-.2,4.8-.6,1.2-1.2,2.4-1.9,3.7Z"
    ></path>
    <path
      class="orange"
      d="M289.3,40.4c.5-2.6,1.3-5.2,2.2-7.8.2-.6.5-1.2.7-1.8.2-.4.4-.8,0-1-.5-.2-.7.2-.9.6-.5,1.2-1,2.3-1.4,3.5-1.1,3.4-2.1,6.8-2.4,10.3,0,.7-.3,1.4.4,1.9.7.4,1.3-.2,1.9-.6,2.5-1.7,4.4-4,6.4-6.3,1.5-1.7,2.8-3.5,4.3-5.3.6,1.4,1.2,2.7,1.8,4,0,.2,0,.6-.1.8-2.8,3.7-5.7,7.4-9.5,10.2-1.4,1-2.9,1.7-4.6,2-3.4.5-5.6-1.3-5.6-4.8,0-.4.1-.9,0-1.3,0-.3-.3-.6-.4-.9-.2.2-.6.4-.7.7,0,.9,0,1.7,0,2.6,0,.5,0,.8-.5,1.1-1.8,1.4-3.8,2.4-6.2,2.6-1.2.1-2.3,0-3.4-.5-1.5-.7-2.2-1.9-2.4-3.5-.3-2.2.5-4.2,1.3-6.1.2-.5.5-.9.6-1.4,0-.2-.1-.6-.2-.9-.2.1-.6.2-.7.4-.7,1.6-1.4,3.2-1.9,4.8-.3.8-.6,1.4-1.2,2-2.9,2.8-6.4,4.2-10.4,4.1-.6,0-1.3-.2-2-.3.5-1.6,1-3.1,1.4-4.4,1.4-.1,2.7-.1,3.9-.4,1.5-.3,2.8-1,3.9-2.1,4-4,7.9-8.2,11-13,.5-.8.9-1.7,1.5-2.5.7-1.1,1.7-1.7,3.1-1.4,1.7.3,2.6,2.1,1.8,3.8-1,2.1-2.1,4.1-3.1,6.2-1.2,2.6-2.4,5.1-3.6,7.7-.2.5-.3,1.1-.3,1.7,0,.9.5,1.3,1.4,1,.9-.4,1.9-.9,2.7-1.5,1.9-1.5,3.5-3.4,4.7-5.5.6-1.1.9-2.4,1.3-3.6,1-2.6,2.1-5.2,3.8-7.5.7-1,1.5-1.9,2.7-2.2,1.8-.6,3.3.4,3.6,2.3.2,1.6,0,3.1-.5,4.5-.9,2.7-2.2,5.2-3.9,7.4-.1.1-.2.3-.3.5,0,0-.2-.1-.2-.2Z"
    ></path>
    <path
      class="orange"
      d="M260.5,33.3c.8-1.9,1.6-3.8,2.5-5.7,2.3-5.1,4.7-10.1,7.5-14.8.1-.2.2-.4.3-.6,0-.2,0-.5-.2-.6-.1,0-.5,0-.6,0-.3.2-.5.5-.7.9-2.5,3.9-4.5,8-6.4,12.2-3.1,6.8-5.9,13.6-8.3,20.6-1.4,4-2.7,8-3.4,12.2-.1.8-.2,1.6-.2,2.4,0,.3.2.5.4.8.2-.1.6-.2.7-.4.7-1.4,1.4-2.9,1.9-4.4.6-1.6.9-3.3,1.4-5h4.7c-.3,1.2-.5,2.4-.8,3.6-.8,3.1-1.9,6.2-4,8.8-1,1.3-2.2,2.3-3.8,2.7-2.7.7-4.7-.7-5-3.5-.3-2.4,0-4.8.6-7.1,1.8-8.1,4.9-15.9,8-23.6,2.2-5.4,4.6-10.7,7-15.9,1.2-2.6,2.8-5.1,4.7-7.3.9-1,1.9-2,3.3-2.4.8-.2,1.7-.2,2.5,0,1.1.4,1.4,1.5,1.5,2.5.3,2.3-.2,4.4-1,6.5-1.7,4.1-4.2,7.7-6.9,11.2-1.7,2.2-3.4,4.4-5.1,6.5-.2.2-.3.4-.5.6,0,0,0,0-.1,0Z"
    ></path>
    <path
      class="orange"
      d="M252.9,34c-.5,1.2-1,2.3-1.4,3.5-.8,2.1-1.5,4.2-2.3,6.3-.4,1-2.1,2.5-3.1,2.5-.9,0-1.5-.3-2-1-.4-.7-.4-1.5,0-2.2.1-.2.3-.4.5-.6,2.6-2.8,5.2-5.5,7.8-8.3,0,0,.2-.1.2-.2,0,0,0,0,.1,0Z"
    ></path>
    <path
      class="orange"
      d="M258.3,38.7c1.4,1.2,1.9,2.7,2.1,4.3,0,.2-.2.5-.3.5-1.1.5-2.3.6-3.6.3.6-1.7,1.2-3.3,1.9-5.1Z"
    ></path>
  </g>
  <path
    class="white2 spark1"
    d="M338.5,40.2c-.1,0-.3,0-.4,0-.6-.2-1-.9-.7-1.5l1.9-5.4c.2-.6.9-1,1.5-.7.6.2,1,.9.7,1.5l-1.9,5.4c-.2.5-.6.8-1.1.8Z"
  ></path>
  <path
    class="white2 spark2"
    d="M345.3,45.8h-2.8c-.7,0-1.2-.5-1.2-1.2s.5-1.2,1.2-1.2h2.8c.7,0,1.2.5,1.2,1.2s-.5,1.2-1.2,1.2Z"
  ></path>
  <path
    class="white2 spark3"
    d="M341.4,42.2c-.4,0-.7-.2-1-.5-.4-.5-.3-1.3.2-1.7l7.3-5.5c.5-.4,1.3-.3,1.7.2.4.5.3,1.3-.2,1.7l-7.3,5.5c-.2.2-.5.2-.7.2Z"
  ></path>
</svg>
<span class="sr-only">AmeXio Fuse</span>

<style>
  .logo {
    overflow: visible;
    transition: transform 300ms ease-in-out;
    transform-origin: left center;
  }
  .orange {
    fill: #ff6100;
  }

  .orange,
  .white,
  .white2 {
    stroke-width: 0px;
  }

  .white {
    fill-rule: evenodd;
  }

  .white,
  .white2 {
    fill: #fff;
  }

  .spark1,
  .spark2,
  .spark3 {
    opacity: 0;
    animation: spark-down 300ms ease-in-out;
    animation-fill-mode: forwards;
  }
  .spark1 {
    animation-delay: 200ms;
  }

  .spark3 {
    animation-delay: 100ms;
  }

  .fuse {
    transform-origin: 75% center;
    transition-delay: 300ms;
  }

  .logo:hover {
    transform: scale(1.008);

    .spark1,
    .spark2,
    .spark3 {
      opacity: 1;
      animation: spark-up 300ms ease-in-out;
      animation-fill-mode: forwards;
    }
    .spark1 {
      animation-delay: 200ms;
    }
    .spark3 {
      animation-delay: 100ms;
    }
  }

  @media (prefers-reduced-motion) {
    .spark1,
    .spark2,
    .spark3 {
      animation: none;
      opacity: 1;
    }

    .logo:hover {
      transform: unset;

      .spark1,
      .spark2,
      .spark3 {
        animation: none;
      }
    }
  }

  @keyframes spark-up {
    from {
      transform: translate(0);
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate(10px, -5px);
    }
  }

  @keyframes spark-down {
    from {
      opacity: 0;
      transform: translate(-10px, 10px);
    }
    to {
      transform: translate(0);
      opacity: 1;
    }
  }
</style>
