---
import type { Block, Props as PortableProps } from "astro-portabletext/types";

interface Props extends PortableProps<Block> {}

const props = Astro.props;
---

<h4 class="text-balance font-serif text-[1.375rem] font-normal sm:text-base">
  {props.node.children[0].text}
</h4>
