---
import type { Block, Props as PortableProps } from "astro-portabletext/types";

interface Props extends PortableProps<Block> {}

const props = Astro.props;
---

<h5 class="text-balance font-serif text-base font-medium sm:text-lg">
  <slot />
</h5>
