---
import type { Block, Props as PortableProps } from "astro-portabletext/types";

interface Props extends PortableProps<Block> {}

const props = Astro.props;
---

<h3 class="text-balance font-serif text-xl font-medium sm:text-2xl">
  <slot />
</h3>
