---
import type { Block, Props as PortableProps } from "astro-portabletext/types";

interface Props extends PortableProps<Block> {}

const props = Astro.props;
---

<h4 class="text-balance font-serif text-lg font-medium sm:text-xl">
  {props.node.children[0].text}
</h4>
