---
import type { Block, Props as PortableProps } from "astro-portabletext/types";

interface Props extends PortableProps<Block> {}

const props = Astro.props;
---

<h2 class="text-balance font-serif text-2xl font-medium sm:text-3xl">
  <slot />
</h2>
