---
import type { Block, Props as PortableProps } from "astro-portabletext/types";

interface Props extends PortableProps<Block> {}

const props = Astro.props;
---

<h6 class="text-balance font-serif text-base font-normal sm:text-lg">
  {props.node.children[0].text}
</h6>
