---
const { headline, ...props } = Astro.props;
---

<div class="mt-10 w-full" {...props}>
  <h2 class="mb-6 font-serif text-lg text-white">{headline}</h2>
  <div class="flex flex-row gap-6">
    <slot />
  </div>
</div>
