---
interface Props {
    backgroundColor?: "light" | "dark";
    class?: string;
}

const { 
    backgroundColor = "light",
    class: className,
} = Astro.props;
---
<section class:list={[
    'prose max-w-full relative py-20 lg:pl-60 lg:pr-32 mb-12 before:-z-10 before:absolute before:top-0 before:bottom-0 before:h-full before:absolute before:-left-[3000px] before:top-0 before:bottom-0 before:right-[1000px] before:w-[10000px]',
    backgroundColor === "light" && '!text-black before:bg-lightest-blue-50',
    backgroundColor === "dark" && '!text-light before:bg-blue-800 prose-ondark',
    className,
]}>
    <slot />
</section>

