---
interface Props {
  backgroundColor?: "light" | "dark";
  class?: string;
  notProse?: Boolean;
}

const {
  backgroundColor = "light",
  class: className,
  notProse = false,
} = Astro.props;
---

<div
  class:list={[
    "relative mx-auto font-light before:absolute before:-left-[3000px] before:bottom-0 before:right-[1000px] before:top-0 before:-z-10 before:h-full before:w-[10000px] xl:px-0",
    backgroundColor === "light" && "!text-black before:bg-lightest-blue-50",
    backgroundColor === "dark" && "!text-light prose-ondark before:bg-blue-800",
    !notProse &&
      "prose-h6:font-regular prose prose-lg py-20 md:prose-xl prose-h2:font-serif prose-h2:font-medium prose-h3:font-serif prose-h3:font-medium prose-h4:font-serif prose-h4:font-medium prose-h5:font-serif prose-h5:font-medium prose-h6:font-serif",
    className,
  ]}
>
  <slot />
</div>
