---
import type { WorkCardListReferenced } from "../../sanity/custom.sanity.types";
import ProjectCard from "../uielements/ProjectCard.astro";
import Button from "../uielements/Button.astro";
import { t } from "i18next";
const { lang } = Astro.params;

interface Props {
  workCardList: WorkCardListReferenced;
}
const { workCardList } = Astro.props;
---

<div
  class="relative flex flex-col py-8 before:absolute before:-right-24 before:bottom-0 before:top-0 before:-z-10 before:w-[3000px] before:bg-light-blue-50 marker:before:h-full md:py-20 xl:flex-row xl:pr-12 xl:before:right-0 xl:before:rounded-xl"
>
  <div
    class="top-40 mb-8 flex h-fit w-full flex-col items-start gap-2 md:mb-16 md:pr-12 xl:sticky xl:w-3/12"
  >
    <h2 class="mb-2 font-serif text-3xl font-bold">
      {t("projectoverview.headline", { defaultValue: "" })}
    </h2>
    <Button link="/work" class="" style="secondary" color="light">
      {t("projectoverview.button", { defaultValue: "" })}
    </Button>
  </div>
  <div class="flex w-full flex-col gap-2 xl:w-9/12">
    {
      workCardList?.referenceCases?.map((referenceCase) => (
        <ProjectCard smallImage caseData={referenceCase} />
      ))
    }
  </div>
</div>
