---
import PortableH2 from "@components/cms-components/PortableText/PortableH2.astro";
import { PortableText } from "astro-portabletext";
import type { SomePortableTextComponents } from "astro-portabletext/types";

interface Props {
  text: any;
  fullWidth?: boolean;
  class?: string;
  align?: "left" | "right";
}

const {
  text,
  fullWidth = false,
  align = "right",
  class: className,
} = Astro.props;

const components: SomePortableTextComponents = {
  block: {
    h2: PortableH2,
  },
};
---

<div
  class:list={[
    "group relative mb-20 flex flex-col justify-between gap-12 py-8 before:absolute before:bottom-0 before:top-0 before:-z-10 before:h-full md:py-20",
    fullWidth
      ? "before:absolute before:-left-[3000px] before:bottom-0 before:right-[1000px] before:top-0 before:w-[10000px] before:bg-lightest-blue-500 marker:before:h-full lg:flex-row-reverse"
      : align == "right"
        ? "before:-left-12 before:w-[3000px] before:rounded-xl before:bg-light-blue-50 md:pl-0 lg:flex-row"
        : "before:-right-12 before:w-[3000px] before:rounded-xl before:bg-light-blue-50 md:pl-0 lg:flex-row-reverse",
    className,
  ]}
>
  <div class="flex flex-col justify-center gap-6 text-left text-black">
    <!-- <h2 class="font-serif text-xl sm:text-3xl text-balance" set:html={headline}></h2> -->
    <div class="prose max-w-prose text-sm font-light sm:text-base">
      <PortableText value={text} components={components} />
    </div>
  </div>
  <div
    class="mx-auto w-fit overflow-hidden rounded-xl shadow-xl shadow-primary/20"
  >
    <div
      class="transition-transform duration-300 ease-in-out motion-safe:group-hover:scale-105"
    >
      <slot />
    </div>
  </div>
</div>
