---
interface Props {
    headline: string;
    description: string;
    fullWidth?: boolean;
    class?: string;
    align?: "left" | "right";
}

const { 
    headline, 
    description,
    fullWidth = false,
    align = "right",
    class: className 
} = Astro.props;
---
<div class:list={[
    "group relative flex flex-col py-8 md:py-20 justify-between gap-12 mb-20 before:-z-10 before:absolute before:top-0 before:bottom-0 before:h-full",
    fullWidth ? 
        "lg:flex-row-reverse before:bg-lightest-blue-500 before:absolute before:-left-[3000px] before:top-0 before:bottom-0 before:right-[1000px] marker:before:h-full before:w-[10000px]" 
        : 
        align == "right" ? 
        "md:pl-0 lg:flex-row before:bg-light-blue-50 before:-left-12 before:w-[3000px] before:rounded-xl": 
        "md:pl-0 lg:flex-row-reverse before:bg-light-blue-50 before:-right-12 before:w-[3000px] before:rounded-xl",
    className]}>
    <div class="flex flex-col justify-center gap-6 text-black text-left">
        <h2 class="font-serif text-xl sm:text-3xl text-balance" set:html={headline}></h2>
        <div class="prose text-sm sm:text-base font-light max-w-prose" set:html={description}></div>
    </div>
    <div class="mx-auto w-fit shadow-xl shadow-primary/20 rounded-xl overflow-hidden">
        <div class="motion-safe:group-hover:scale-105 transition-transform ease-in-out duration-300">
            <slot />
        </div>
    </div>
</div>