@font-face {
    font-family: 'Contane';
    src: url('/fonts/ContaneMediumRegular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Contane';
    src: url('/fonts/ContaneRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Shoelace tab component - Changes the primary theme color to purple using primitives */
    --sl-color-primary-50: #fdf0e9;
    --sl-color-primary-100: #f9d1bb;
    --sl-color-primary-200: #f7bb9b;
    --sl-color-primary-300: #f39d6d;
    --sl-color-primary-400: #f18951;
    --sl-color-primary-500: #ed6c25;
    --sl-color-primary-600: #ed6c25;
    --sl-color-primary-700: #a84d1a;
    --sl-color-primary-800: #823b14;
    --sl-color-primary-900: #642d10;
    --sl-color-primary-950: #642d10;
    --track-width: 2px;
    --sl-color-neutral-200:#d9e8f5;
    --sl-spacing-medium: 24px;
    --sl-spacing-large: 24px;
    --color-white: #fff;
	--color-black: #0B1215;
    --color-transparent: 'transparent';
    --color-primary: #084772;
    --color-secondary: #ED6C25;
    --color-quaternary: #D9E8F5;
    --color-quinary: #86ABD4;
    --color-tertiary: #FFC256;
}

mark {
    color: var(--color-white);
    background: linear-gradient(to right, var(--color-tertiary), var(--color-tertiary) 50%, var(--color-white) 50%); 
    text-decoration: none; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    animation: background-position 600ms ease-out;

    &.long-title {
        animation: background-position 1000ms ease-out;
    }  
}

.caseheadline mark{
    -webkit-text-fill-color: unset;
}


.hero-gradient {
    background: radial-gradient(41.57% 50% at 50% 50%, rgba(8, 71, 114, 0.60) 0%, rgba(8, 71, 114, 0.00) 100%)
}

.tab.tab--active:not(.tab--disabled) {
    color: white;
}

/* Hide default browser triangle in Safari */ 
summary::-webkit-details-marker {
    display: none;
}

/* Set / before post tag */
@supports (content: "x" / "y") {
    .c-post-tag:before {
        content: "/" / "";
    }
}
@supports not (content: "x" / "y") {
    .c-post-tag:before {
        content: "/";
        alt: "";
    }
}

/* Main navigation animation and dialog styles */
@media (max-width: 767px) { 
    .main-navigation a:hover,
    .main-navigation a[aria-current] {
        padding-right: .25rem;
    }

    .main-navigation:hover a:not(:hover) {
        padding-right: 0;
    }

    .main-navigation-dialog {
        min-height: 100%;
        max-width: 100%;
        margin: 0;
    }

    .main-navigation__item {
        --animation-delay: .3s;
        -webkit-animation: fade-in-top 0.3s ease-in both;
        animation: fade-in-top 0.3s ease-in both;
        animation-delay: calc(var(--n-of-headerlinks) * var(--animation-delay));
    }

    .main-navigation__item:nth-child(1) {
        animation-delay: calc((1 / var(--n-of-headerlinks)) * var(--animation-delay));
    }

    .main-navigation__item:nth-child(2) {
        animation-delay: calc((2 / var(--n-of-headerlinks)) * var(--animation-delay));
    }

    .main-navigation__item:nth-child(3) {
        animation-delay: calc((3 / var(--n-of-headerlinks)) * var(--animation-delay));
    }

    .main-navigation__item:nth-child(4) {
        animation-delay: calc(4 / var(--n-of-headerlinks) * var(--animation-delay));
    }

    .main-navigation__item:nth-child(5) {
        animation-delay: calc((5 / var(--n-of-headerlinks)) * var(--animation-delay));
    }

    .main-navigation__item:nth-child(6) {
        animation-delay: calc((6 / var(--n-of-headerlinks)) * var(--animation-delay));
    }
}

@media (prefers-reduced-motion) {
    .main-navigation__item {
        animation: none;
    }

    mark {
        color: var(--color-tertiary);
        background-clip: initial;
        background: none;
        -webkit-text-fill-color: unset;
    }
}

@media (min-width: 768px) { 
    .main-navigation-dialog {
        all: unset;
    }
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes background-position {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0 100%;
    }
}