@font-face {
    font-family: 'Contane';
    src: url('ContaneMediumRegular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Contane';
    src: url('ContaneRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 mark {
    color: #FFC256;
    background-color: unset;
    display: block;
}

.hero-gradient {
    background: radial-gradient(41.57% 50% at 50% 50%, rgba(8, 71, 114, 0.60) 0%, rgba(8, 71, 114, 0.00) 100%)
}

.footer-gradient-blue {
    background: radial-gradient(41.57% 90%  at 50% 0%, rgba(134, 171, 212, 0.70) 0%, rgba(134, 171, 212, 0.00) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.footer-gradient-orange {
    background: radial-gradient(41.57% 90%  at 50% 100%, rgba(255, 194, 86, 0.70) 0%, rgba(255, 194, 86, 0.00) 100%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.js-skiplink:focus ~ header > nav {
    position: static;
}

