@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 mark {
        color: #FFC256;
        background-color: unset;
        display: block;
    }
}

@layer components {

}

@layer utilities {

}

