---
import ServicePreview from "@components/uielements/ServicePreview.astro";
import type { ServiceWithReferences } from "@sanity/custom.sanity.types";
import type { ServicesCardList } from "src/sanity/sanity.types";

interface Props {
  serviceCardList: ServicesCardList;
}

const { serviceCardList } = Astro.props;
---

<div
  class="flex flex-col motion-safe:animate-fade-up motion-safe:animate-delay-200 xl:flex-row"
>
  <div
    class="top-40 mb-8 flex h-fit w-full flex-col items-start gap-2 animate-duration-75 motion-safe:animate-fade-up motion-safe:animate-delay-100 md:mb-16 md:pr-12 xl:sticky xl:w-4/12"
  >
    <h2 class="text-pretty font-serif text-3xl">
      {serviceCardList?.intro?.title}
    </h2>
  </div>
  <div
    class="flex w-full flex-col gap-2 motion-safe:animate-fade-up motion-safe:animate-delay-100 xl:w-8/12"
  >
    {
      serviceCardList?.groups?.map((group, index) => (
        <>
          <div class="mb-6 mt-12 first:mt-4 first:md:mt-0 xl:mx-8">
            <h3
              id={"anchor-" + index}
              class="scroll-mt-10 font-serif text-2xl md:scroll-mt-40"
            >
              {group.title}
            </h3>
          </div>
          {group.services?.map((groupService) => {
            const service = groupService as any as ServiceWithReferences;

            return <ServicePreview service={service} />;
          })}
        </>
      ))
    }
  </div>
</div>
