---
import ServicePreview from '@components/uielements/ServicePreview.astro';
import type { ServiceWithReferences } from '@sanity/custom.sanity.types';
import type {Service, ServicesCardList} from 'src/sanity/sanity.types';

interface Props {
    serviceCardList: ServicesCardList,
}

const {serviceCardList} = Astro.props;

---


<div class="motion-safe:animate-fade-up motion-safe:animate-delay-500 relative flex flex-col mb-20 md:mb-40 xl:flex-row py-20 before:-z-10 before:bg-light-blue-50 before:absolute before:-left-[3000px] before:top-0 before:bottom-0 before:right-[1000px] marker:before:h-full before:w-[10000px] before:rounded-xl">
    <div class="motion-safe:animate-fade-up motion-safe:animate-delay-700 flex flex-col items-start w-full md:pr-12 gap-2 mb-8 md:mb-16 xl:sticky xl:w-4/12 h-fit top-40">
        <h2 class="font-serif text-3xl text-pretty">{serviceCardList.intro?.title}</h2>
    </div>
    <div class="motion-safe:animate-fade-up motion-safe:animate-delay-1000 flex flex-col w-full gap-2 xl:w-8/12">
        {serviceCardList?.groups?.map((group, index) =>
                <>
                    <div class="xl:mx-8 mb-6 mt-12 first:mt-4 first:md:mt-0">
                        <h3 id={"anchor-" + index} class="scroll-mt-10 md:scroll-mt-40 font-serif text-2xl">
                            {group.title}
                        </h3>
                    </div>
                    {group.services?.map(groupService=> {
                        const service = groupService as any as ServiceWithReferences;

                        return (
                            <ServicePreview service={service}></ServicePreview>
                        )
                    }
                    )}
                </>
        )}
    </div>
</div>