---
import type { WorkCardListReferenced } from "@sanity/custom.sanity.types";
import CasePreview from "../uielements/CasePreview.astro";
import ProjectOverview from "../uicomposition/ProjectOverview.astro";
import { stegaClean } from "@sanity/client/stega";

interface Props {
  workCardList: WorkCardListReferenced;
}

const { workCardList } = Astro.props;
---

<>
  {
    stegaClean(workCardList?.style) === "slanted" ? (
      <ProjectOverview workCardList={workCardList} />
    ) : (
      <div class="relative flex w-full flex-col gap-8 bg-light-blue-50 motion-safe:animate-fade-up motion-safe:animate-delay-100">
        {workCardList?.referenceCases.map((casePost) => (
          <CasePreview caseData={casePost} />
        ))}
      </div>
    )
  }
</>
