---
import Base from '@layouts/Base.astro';
import { i18nParams } from '../i18n/consts'
import { useTranslations } from '../i18n/utils';
import Button from '@components/ui/Button.astro';

export function getStaticPaths() {
	return i18nParams;
}
import { getLangFromUrl } from '../i18n/utils';
const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
console.log(lang)
---
<Base>
    <section class="">
        <div class="max-w-screen-xl px-4 py-40 mx-auto lg:py-40 lg:px-6">
            <div class="max-w-screen-sm mx-auto text-center">
                <h1 class="mb-4 text-[80px] font-extrabold tracking-tight lg:text-9xl text-tertiary ">404</h1>
                <p class="mb-4 text-xl font-bold text-white md:text-4xl">
                    {t('404.headline')}
                </p>
                <p class="mb-4 text-lg font-light text-white">
                    {t('404.text')}
                </p>
                <Button class="inline-block mt-4" link="/" style="primary" color="dark">{t('404.button')}</Button>
            </div>   
        </div>
    </section>
</Base>