---
import { getLocale, t } from "i18n:astro";

const { pathname } = Astro.url;
const paths = pathname.split("/").filter((x) => x);
const lang = getLocale();

const servicesPath = /\/services\/\S+/;
const casesPath = /\/cases\/\S+/;
const insightsPath = /\/insights\/\S+/;

let parts: { text: string; href: string }[] = [
  {
    text: t("breadcrumb.home"),
    href: `/${lang}/`,
  },
];

paths.forEach((text, i) => {
  const href = `/${paths.slice(0, i + 1).join("/")}`;
  if (i !== 0) {
    let translatedText: string = "";
    if (
      i == paths.length - 1 &&
      (servicesPath.test(pathname) ||
        casesPath.test(pathname) ||
        insightsPath.test(pathname))
    ) {
      translatedText = text.replace(/[-_]/g, " ");
    } else {
      translatedText = t("nav." + text.replace(/[-_]/g, " "), {
        defaultValue: "",
      });
    }

    parts.push({
      text: translatedText,
      href: href + "/",
    });
  }
});

const removeTrailingSlash = (text: string) => {
  return text.endsWith("/") && text.length > 1 ? text.slice(0, -1) : text;
};
---

{
  parts.length > 1 && (
    <nav aria-label={t("breadcrumb.label")}>
      <ol
        class="mb-8 flex flex-row flex-wrap gap-1 pl-2 text-white md:-ms-2 md:mb-0"
        role="list"
      >
        {parts.map(({ text, href, ...attrs }, index) => (
          <li class="text-regular flex items-center gap-2" role="listitem">
            {index !== parts.length - 1 ? (
              <>
                <a
                  href={href}
                  {...attrs}
                  aria-current={href === pathname && "page"}
                  class="bg-gradient-to-r from-tertiary from-0% via-tertiary via-50% to-white to-50% bg-[length:200%_100%] bg-clip-text bg-[100%] text-xs capitalize text-transparent underline decoration-white decoration-1 underline-offset-2 outline-none transition-all duration-300 hover:bg-[0%_100%] hover:decoration-tertiary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-4 focus-visible:outline-yellow-500 motion-reduce:transition-none md:py-2"
                >
                  {text}
                </a>
                <svg
                  class="h-6 w-6 fill-white"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use xlink:href="/icons/icon-sprite.svg#icon-chevron-right" />
                </svg>
              </>
            ) : (
              <span
                {...attrs}
                aria-current={
                  removeTrailingSlash(href) === removeTrailingSlash(pathname) &&
                  "page"
                }
                class="text-xs capitalize outline-none md:py-2"
              >
                {text}
              </span>
            )}
          </li>
        ))}
      </ol>
    </nav>
  )
}
