---
import { useTranslations } from "src/i18n/utils";
const { lang } = Astro.params;

interface Props {
    headline: string;
}
const { headline } = Astro.props;

const t = useTranslations(lang, "work");
---

<div class="motion-safe:animate-fade-up motion-safe:animate-delay-500 relative mb-40 xl:flex-row py-20 before:-z-10 before:bg-light-blue-50 before:absolute before:-left-[3000px] before:top-0 before:bottom-0 before:right-[1000px] marker:before:h-full before:w-[10000px]">
    <div class="motion-safe:animate-fade-up motion-safe:animate-delay-700 w-full lg:grid lg:grid-cols-12 mb-8 md:mb-16">
        <h2 class="col-start-3 col-span-8 font-serif text-2xl" set:html={headline}></h2>
        <div class="col-start-3 col-span-8 mt-8">
            <div role="status" class="motion-safe:animate-pulse cursor-progress" id="contact-form-placeholder">
                <div class="h-6 rounded-full bg-lightest-blue-500 w-48 pointer-events-none"></div>
                <div class="h-[54px] rounded-2 bg-lightest-blue-500 mt-4 w-full pointer-events-none"></div>
                <div class="flex flex-wrap gap-4 pointer-events-none">
                    <div class="grow basis-[15.5625rem] mt-6">
                        <div class="h-6 rounded-full bg-lightest-blue-500 w-48"></div>
                        <div class="h-[54px] rounded-2 bg-lightest-blue-500 mt-4 w-full"></div>
                    </div>
                    <div class="grow basis-[15.5625rem] mt-6">
                        <div class="h-6 rounded-full bg-lightest-blue-500 w-48"></div>
                        <div class="h-[54px] rounded-2 bg-lightest-blue-500 mt-4 w-full"></div>
                    </div>
                </div>
                <div class="h-6 rounded-full bg-lightest-blue-500 w-48 mt-6 pointer-events-none" ></div>
                <div class="h-[54px] rounded-2 bg-lightest-blue-500 mt-4 w-full pointer-events-none"></div>
                <div class="h-[120px] rounded-2 bg-lightest-blue-500 mt-8 w-ful pointer-events-nonel"></div>
                <div class="h-[52px] rounded-full bg-lightest-blue-500 mt-8 w-[100px] pointer-events-none"></div>
                <span class="sr-only">Loading...</span>
            </div>
            <div id="optimusPrime" aria-busy="true"></div>
            <script src="@lib/hubSpotForm.js"></script>
        </div>
    </div>
</div>


