---
import { useTranslations } from "src/i18n/utils";
const { lang } = Astro.params;
import ContactFormStyling from "src/styles/contact-form-styling.astro";
interface Props {
  headline: string;
}
const { headline } = Astro.props;

const t = useTranslations(lang);
---

<ContactFormStyling />
<div
  class="relative mb-40 py-20 before:absolute before:-left-[3000px] before:bottom-0 before:right-[1000px] before:top-0 before:-z-10 before:w-[10000px] before:bg-light-blue-50 marker:before:h-full motion-safe:animate-fade-up motion-safe:animate-delay-500 xl:flex-row"
>
  <div
    class="mb-8 w-full motion-safe:animate-fade-up motion-safe:animate-delay-700 md:mb-16"
  >
    <div class="mx-auto max-w-[70ch] md:text-[1.25rem]">
      <h2 class="font-serif text-2xl" set:html={headline} />
      <div class="mt-8">
        <div
          role="status"
          class="cursor-progress motion-safe:animate-pulse"
          id="contact-form-placeholder"
        >
          <div class="pointer-events-none flex flex-wrap gap-4">
            <div class="mt-6 grow basis-[15.5625rem]">
              <div class="h-6 w-48 rounded-full bg-lightest-blue-500"></div>
              <div class="rounded-2 mt-4 h-[54px] w-full bg-lightest-blue-500">
              </div>
            </div>
            <div class="mt-6 grow basis-[15.5625rem]">
              <div class="h-6 w-48 rounded-full bg-lightest-blue-500"></div>
              <div class="rounded-2 mt-4 h-[54px] w-full bg-lightest-blue-500">
              </div>
            </div>
          </div>
          <div class="pointer-events-none flex flex-wrap gap-4">
            <div class="mt-6 grow basis-[15.5625rem]">
              <div class="h-6 w-48 rounded-full bg-lightest-blue-500"></div>
              <div class="rounded-2 mt-4 h-[54px] w-full bg-lightest-blue-500">
              </div>
            </div>
            <div class="mt-6 grow basis-[15.5625rem]">
              <div class="h-6 w-48 rounded-full bg-lightest-blue-500"></div>
              <div class="rounded-2 mt-4 h-[54px] w-full bg-lightest-blue-500">
              </div>
            </div>
          </div>
          <div
            class="pointer-events-none mt-6 h-6 w-48 rounded-full bg-lightest-blue-500"
          >
          </div>
          <div
            class="rounded-2 pointer-events-none mt-4 h-[54px] w-full bg-lightest-blue-500"
          >
          </div>
          <div
            class="pointer-events-none mt-6 h-6 w-48 rounded-full bg-lightest-blue-500"
          >
          </div>
          <div
            class="rounded-2 pointer-events-none mt-4 h-[240px] w-full bg-lightest-blue-500"
          >
          </div>
          <div
            class="rounded-2 w-ful pointer-events-nonel mt-8 h-[120px] bg-lightest-blue-500"
          >
          </div>
          <div
            class="pointer-events-none mt-8 h-[52px] w-[160px] rounded-full bg-lightest-blue-500"
          >
          </div>
          <span class="sr-only">{t("skeleton.loading")}</span>
        </div>
        <div id="cxm-contact-form" aria-busy="true"></div>
        <script src="@lib/hubSpotForm.js"></script>
      </div>
    </div>
  </div>
</div>
