---
import type { HTMLAttributes } from 'astro/types';
import logoIcon from '@assets/logos/icon_white.svg';
import { Image } from 'astro:assets';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---
<li class="relative w-full py-4 pl-8 border-b border-blue-100/70 bg-blue-800/60 md:bg-transparent md:w-fit border-opacity-60 md:border-0 md:p-0">
	<a href={href} aria-current={isActive && "page"} class:list={["block group w-full text-white pr-2 text-base flex justify-start md:justify-center items-center gap-1 focus-visible:outline focus-visible:outline-offset-4 focus-visible:outline-2 focus-visible:outline-yellow-500" ,className , { active: isActive }]} {...props}>
		<slot />
		<span class="absolute transition-[right] right-12 group-hover:right-8 duration-500 md:hidden">
			<svg class="w-3 h-3 fill-current" width="12" height="12" aria-hidden="true" focusable="false"><use xlink:href="/icons/icon-sprite.svg#icon-chevron-right"></use></svg>
		</span>
	</a>
</li>