---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  hoverColor?: "yellow" | "orange";
  onWhite?: boolean;
  textLength?: number;
}

const {
  href,
  class: className,
  hoverColor = "orange",
  onWhite,
  textLength = 12,
  target = false,
  ...props
} = Astro.props;
---

<a
  href={href}
  class:list={[
    "bg-[length:200%_100%] bg-clip-text bg-[100%] text-transparent underline decoration-white decoration-1 underline-offset-2 hover:bg-[0%_100%] focus-visible:rounded focus-visible:px-2 focus-visible:outline-none focus-visible:ring-2 motion-reduce:transition-none",
    hoverColor == "orange" &&
      "bg-gradient-to-r from-secondary from-0% via-secondary via-50% transition-all hover:decoration-secondary focus-visible:ring-secondary",
    hoverColor == "yellow" &&
      "bg-gradient-to-r from-tertiary from-0% via-tertiary via-50% transition-all hover:decoration-tertiary focus-visible:ring-tertiary",
    onWhite ? "to-black to-50%" : "to-white to-50%",
    className,
  ]}
  style={`transition-duration: ${textLength * 20}ms`}
  target={target ? "_blank" : undefined}
  {...props}
><slot /></a>
