---
import { useTranslations } from 'src/i18n/utils';
import Button from '@components/uielements/Button.astro';
import { Picture } from "astro:assets";

const { lang } = Astro.params;

const { 
    serviceData,
    link
} = Astro.props;

const t = useTranslations(lang, 'services');
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}');
if (!images[serviceData.heroImage]) throw new Error(`"${serviceData}" does not exist in glob: "src/assets/images/*.{jpeg,jpg,png,gif}"`);

---
<div class="group/service flex flex-col justify-between bg-quaternary rounded-2xl overflow-hidden relative w-full h-auto mb-8 shadow-xl">
    <div class="relative w-full flex flex-col items-start justify-between gap-8 md:gap-20 p-4 sm:p-8 h-1/2 md:h-full md:w-2/3">
        <div class="flex flex-col">
            <h3 class="mb-2 font-serif text-lg sm:text-xl" set:html={serviceData.previewTitle || serviceData.title}></h3>
            <p class="text-sm sm:text-base font-light" set:html={serviceData.description}></p>
        </div>
        <Button link={link} longText style="primary" size="sm" color="light" class="z-10 md:max-w-xs lg:max-w-md xl:max-w-sm">
            {serviceData.cta || t('overview.backupcta')}
        </Button>
    </div>
    <div class="bg-blue-100 relative bottom-0 right-0 inline-flex flex-col items-center justify-center w-full overflow-hidden mask-project max-h-[200px] md:max-h-[unset] md:w-1/2 md:-right-1/12 md:h-full md:absolute object-cover">
        <Picture
            src={images[serviceData.heroImage]()} 
            alt={serviceData.altTextImage || ""}
            widths={[400, 600, 790]}
            sizes="(max-width: 790px) 100vw, 790px"
            class="motion-safe:group-hover/service:scale-110 transition-transform md:absolute left-0 top-0 ease-in-out duration-300 max-w-[unset] w-full md:w-auto   min-w-full shrink-0 md:h-full" 
            loading="eager"
        />
    </div> 
</div>

<style>
    .mask-project {
		clip-path: polygon( 100% 100%,100% 0%,21.705% 0%,21.705% 0.029%,21.705% 0.029%,19.048% 0.522%,16.589% 1.543%,14.348% 2.954%,12.343% 4.62%,10.594% 6.404%,9.12% 8.17%,7.94% 9.78%,7.074% 11.1%,6.54% 11.991%,6.358% 12.319%,0% 22.694%,0% 100%,100% 100% );
		mask-size: 200% auto;
        mask-position: top right;
    }
    
    @media only screen and (min-width: 768px) {
        .mask-project {
			clip-path: polygon( 76.039% 0.021%,76.039% 0.021%,73.912% 0.367%,71.944% 1.084%,70.15% 2.076%,68.546% 3.246%,67.146% 4.5%,65.967% 5.741%,65.022% 6.872%,64.329% 7.8%,63.902% 8.426%,63.756% 8.656%,0% 100%,99.899% 99.938%,100% 99.938%,100% 0%,76.039% 0%,76.039% 0.021% );
            mask-size: cover; 
            mask-position: unset;
        }
    }
</style>