---
import { PortableText } from 'astro-portabletext';

interface Props {
    headline: string | undefined;
    description: any;
    headlineTag?: "h3" | "h4" | "h5";
    class?: string;
}
const { 
    headline, 
    description,
    headlineTag = "h3", 
    class: className 
} = Astro.props;

const HeadlineTagName = headlineTag;
---
<div class:list={["smalltile inline-flex flex-col items-center justify-start w-full gap-8 px-4 md:px-12 py-6 border-blue-500 shadow backdrop-blur-lg bg-gradient-to-l from-blue-600/70 to-blue-800/70 shadow-blue-200 rounded-2xl border-1", className]}>
    <slot />
    <div class="flex flex-col items-center justify-start gap-2 md:gap-4">
        <HeadlineTagName class:list={["mx-8 sm:mx-0 font-serif text-lg md:text-xl md:leading-9	text-center text-white"]} set:html={headline}></HeadlineTagName>
        <span class="text-sm font-light text-center text-white">
            <PortableText value={description}/>
        </span>
    </div>
</div>