---
import Link from "./Link.astro";
interface Props {
  link?: string;
  class?: string;
}
const { link, class: className } = Astro.props;
---

<div
  class:list={[
    link
      ? "group"
      : "[&>p]:align-left grid grid-cols-4 items-center gap-4 text-sm sm:justify-items-center [&>img]:col-span-1 [&>img]:h-14 [&>img]:w-auto [&>img]:max-w-[unset] sm:[&>img]:h-10 [&>p]:col-span-3 [&>p]:justify-self-start",
    className,
  ]}
>
  {
    link ? (
      <Link
        class:list={[
          "[&>p]:align-left grid grid-cols-4 items-center gap-4 text-sm sm:justify-items-center [&>img]:col-span-1 [&>img]:h-14 [&>img]:w-auto [&>img]:max-w-[unset] [&>img]:transition group-hover:[&>img]:scale-110 motion-reduce:group-hover:[&>img]:scale-100 sm:[&>img]:h-10 [&>p]:col-span-3 [&>p]:justify-self-start",
          className,
        ]}
        href={link}
      >
        <slot />
      </Link>
    ) : (
      <slot />
    )
  }
</div>
