---
interface Props {
    headline: string;
    class?: string;
}

const { 
    headline, 
    class: className 
} = Astro.props;
---

<div class:list={["relative flex flex-col xl:flex-row py-20", className]}>
    <h2 class="mb-2 font-serif text-2xl w-full xl:sticky xl:w-5/12 h-fit top-40" set:html={headline}></h2>
    <div class="flex flex-col w-full gap-2 xl:w-7/12">
        <slot />
    </div>
</div>
