---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---
<li class="w-full md:w-fit border-b border-opacity-60 border-blue-100 pl-8 py-4 md:border-0 md:p-0">
	<a href={href} class:list={["block group w-fit text-white pr-2 text-lg flex justify-start md:justify-center items-center gap-1 focus-visible:outline-none focus-visible:rounded focus-visible:px-4  focus-visible:ring-2 focus-visible:ring-tertiary" ,className , { active: isActive }]} {...props}>
		<img class="opacity-0 group-[.active]:opacity-100 group-hover:opacity-100 group-focus:opacity-100 scale-0 group-[.active]:scale-100 group-hover:scale-100 group-focus:scale-100 w-0 group-[.active]:w-4 group-hover:w-4 group-focus:w-4 h-4 relative transition-all duration-500" 
		src="/icons/logo.svg" width={16} height={16}>
		<slot />
	</a>
</li>		