---
import ProfileCard from './ProfileCard.astro';

interface Props {
    headline: string;
    text?: string;
    buttonText?: string;
}

const { headline, text, buttonText } = Astro.props;
---
<div class="py-20 text-white hero-gradient">
    <h1 class="text-white text-[70px] leading-[105px] font-bold mb-11" 
        set:html={headline}>
    </h1>
    <div class="grid gap-12 md:gap-6 grid-area grid-cols-1 md:grid-cols-12">
        <div class="mx-auto text-left grid-a">
            { text && 
                <p class="text-3xl font-normal mt-4 leading-[46px]" set:html={text}></p> 
            }
        </div>

        <ProfileCard 
            content="A Senior Solution Consultant doesn't just solve problems; they illuminate pathways to innovation, architecting tailored solutions that transcend challenges. They are the orchestrators of transformation, bridging technology and strategy to empower businesses for the future."
            name='Voornaam Achternaam'
            title="tes"
            profileImg='https://via.placeholder.com/50x50'
            buttonText={buttonText}
            class='grid-b animation'
        />
        
        <ProfileCard 
            content="A Senior Solution Consultant doesn't just solve problems; they illuminate pathways to innovation, architecting tailored solutions that transcend challenges. They are the orchestrators of transformation, bridging technology and strategy to empower businesses for the future."
            name='Voornaam Achternaam'
            title="tes"
            direction='right'
            profileImg='https://via.placeholder.com/50x50'
            buttonText={buttonText}
            class='grid-c animation animation-delay'
        />
    </div>
</div>

<style>
    .hero-gradient {
        background: radial-gradient(41.57% 50% at 50% 50%, rgba(8, 71, 114, 0.60) 0%, rgba(8, 71, 114, 0.00) 100%)
    }
    
    .grid-area{ 
        grid-template-areas: 
        "a a a a a a" 
        "b b b b b b"
        "c c c c c c" 
    }
   
    .grid-a{
        grid-area: a;
    }

    .grid-b {
        grid-area: b;
    }

    .grid-c {
        grid-area: c;
    }

    .animation {
        margin-top: 60%;
        animation: 1000ms slide-up;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;

        &-delay {
            animation-delay: 300ms;
        }
    }

    @media only screen and (min-width: 768px) {
        .grid-area{ 
            grid-template-areas: 
            "a a a a a a b b b b b b"
            "c c c c c c b b b b b b"
        }
    }

    @keyframes slide-up {
        from {
            margin-top: 60%;
        }
        to {
            margin-top: 0%;
        }
    }
</style>