---
import { i18nParams } from '../../i18n/consts'
import { useTranslations } from '../../i18n/utils';
import Base from '../../layouts/Base.astro';
import HeroHeader from '../../components/HeroHeader.astro';
import Button from '../../components/ui/Button.astro';

export function getStaticPaths() {
	return i18nParams;
}
import { fade } from "astro:transitions";

const { lang } = Astro.params;
const t = useTranslations(lang);
---
<Base>
    <HeroHeader 
        headline={t('hero.headline')}
        text={t('hero.text')}
        buttonText={t('hero.button')}
        homepage
    />

    <div class="flex-col justify-start items-start gap-10 inline-flex">
        <div class="flex-col justify-start items-start gap-6 flex w-9/12">
            <h2 class="text-white text-5xl font-bold leading-[66px]">Managing content at scale is challenging</h2>
            <p class="text-white text-lg font-medium">
                Exceptional content lives at the heart of every great digital experience.
            </p>
            <p class="text-white text-lg font-medium">
            However, as your digital channels expand and more teams come onboard, scaling 
            content operations in your organization can be cumbersome: content governance gets more complex 
            and content becomes harder to find and discover. Eventually, your customers suffer from inconsistent, 
            inaccessible and slow experiences.
        </p>
        </div>
        <div class="justify-start items-start gap-8 inline-flex">
          <div class="w-1/3 p-6 bg-gradient-to-l from-blue-600/70 to-blue-800/70 shadow-blue-200 rounded-2xl shadow border-1 border-blue-500 flex-col justify-start items-center gap-8 inline-flex">
            <div class="w-20 h-20 relative"></div>
            <div class="h-[127px] flex-col justify-start items-center gap-4 flex">
              <div class="text-center text-white text-[28px] font-bold font-['FONTSPRING DEMO - Juana Bold'] leading-[42px]">Paint point</div>
              <div class="text-center text-white text-lg font-medium">Lorem ipsum dolor sit amet massa dapibus orci lobortis. Fusce malesuada leo senectus at libero aliqua etiam.</div>
            </div>
          </div>
          <div class="w-1/3 p-6 bg-gradient-to-l from-blue-600/70 to-blue-800/70 shadow-blue-200 rounded-2xl shadow border-1 border-blue-500 flex-col justify-start items-center gap-8 inline-flex">
            <div class="w-20 h-20 relative"></div>
            <div class="self-stretch h-[127px] flex-col justify-start items-center gap-4 flex">
              <div class="self-stretch text-center text-white text-[28px] font-bold font-['FONTSPRING DEMO - Juana Bold'] leading-[42px]">Paint point</div>
              <div class="self-stretch text-center text-white text-lg font-medium font-['Lexend']">Lorem ipsum dolor sit amet massa dapibus orci lobortis. Fusce malesuada leo senectus at libero aliqua etiam.</div>
            </div>
          </div>
          <div class="w-1/3 p-6 bg-gradient-to-l from-blue-600/70 to-blue-800/70 shadow-blue-200 rounded-2xl shadow border-1 border-blue-500 flex-col justify-start items-center gap-8 inline-flex">
            <div class="w-20 h-20 relative"></div>
            <div class="self-stretch h-[127px] flex-col justify-start items-center gap-4 flex">
              <div class="self-stretch text-center text-white text-[28px] font-bold font-['FONTSPRING DEMO - Juana Bold'] leading-[42px]">Paint point</div>
              <div class="self-stretch text-center text-white text-lg font-medium font-['Lexend']">Lorem ipsum dolor sit amet massa dapibus orci lobortis. Fusce malesuada leo senectus at libero aliqua etiam.</div>
            </div>
          </div>
        </div>
      </div>
        
    <div class="container max-w-screen-xl mx-auto px-8 md:px-0 py-20">
        <div class="flex flex-col md:flex-row items-center justify-center space-y-6 md:space-y-0 md:space-x-10">
            <div class="md:w-1/2">
                <img src="https://via.placeholder.com/600x400" alt="About Us" class="rounded-lg">
            </div>
            <div class="md:w-1/2">
                <h2 class="text-3xl text-primary font-semibold mb-4">{t('about.headline')}</h2>
                <p class="text-lg leading-relaxed">{t('about.text')}</p>
            </div>
        </div>
    </div>

    <div class="bg-gray-100 py-20">
        <div class="container max-w-screen-xl mx-auto px-4 md:px-0  text-center">
            <h2 class="text-3xl font-semibold mb-8">{t('services.headline')}</h2>
            <div transition:animate={fade({ duration: '2s' })} class="grid grid-cols-1 md:grid-cols-3 gap-10">
                <div class="py-3 px-8 w-100 bg-base-100 shadow-2xl rounded">
                    <div class="card-body">
                        <h3 class="title text-xl text-primary font-semibold mb-4">{t('services.item1.headline')}</h3>
                        <p class="text-gray-700">{t('services.item1.text')}.</p>
                        <div class="card-actions mt-2 justify-center">
                            <Button>Read More</Button>
                        </div>
                    </div>
                </div>
                <div class="py-3 px-8 w-100 bg-base-100 shadow-2xl rounded">
                    <div class="card-body">
                        <h3 class="title text-xl text-primary font-semibold mb-4">{t('services.item2.headline')}</h3>
                        <p class="text-gray-700">{t('services.item2.text')}.</p>
                        <div class="card-actions mt-2 justify-center">
                            <Button>Read More</Button>
                        </div>
                    </div>
                </div>
                <div class="py-3 px-8 w-100 bg-base-100 shadow-2xl rounded">
                    <div class="card-body">
                        <h3 class="title text-xl text-primary font-semibold mb-4">{t('services.item3.headline')}</h3>
                        <p class="text-gray-700">{t('services.item3.text')}.</p>
                        <div class="card-actions mt-2 justify-center">
                            <Button>Read More</Button>
                        </div>
                    </div>
                </div>
                    
            </div>
        </div>
    </div>

    <div class="container mx-auto px-8 md:px-0 py-20">
        <div class="text-center">
            <h2 class="text-3xl text-primary font-semibold mb-4">{t('contact.headline')}</h2>
            <p class="text-lg text-gray-700 mb-8">{t('contact.text')}</p>
            <Button>{t('contact.button')}</Button>
        </div>
    </div>

</Base>