---
import Button from "@components/ui/Button.astro"
import Base from '@layouts/Base.astro';
import { i18nParams } from '../../i18n/consts'

export function getStaticPaths() {
	return i18nParams;
}
---

<Base>
    <div class="flex flex-col items-center">
        <h2 class="text-white text-2xl mb-2">Buttons</h2>
    <div class="flex flex-row items-center gap-2 p-4 bg-white">
        <Button class="mt-4 inline-block" link="/" style="primary" color="light">Register</Button>
        <Button class="mt-4 inline-block" link="/" icon style="primary" color="light">Register</Button>
        <Button class="mt-4 inline-block" link="/" icon style="primary" color="light"></Button>
    </div> 
    <div class="flex flex-row items-center gap-2 p-4 bg-white">
        <Button class="mt-4 inline-block" link="/" style="secondary" color="light">Register</Button>
        <Button class="mt-4 inline-block" link="/" icon style="secondary" color="light">Register</Button>
        <Button class="mt-4 inline-block" link="/" icon style="secondary" color="light"></Button>
    </div> 
    <div class="flex flex-row items-center gap-2">
        <Button class="mt-4 inline-block" link="/" style="primary" color="dark">Register</Button>
        <Button class="mt-4 inline-block" link="/" icon style="primary"  color="dark">Register</Button>
        <Button class="mt-4 inline-block" link="/" icon style="primary" color="dark"></Button>
    </div> 
    <div class="flex flex-row items-center gap-2">
        <Button class="mt-4 inline-block" link="/" style="secondary" color="dark">Register</Button>
        <Button class="mt-4 inline-block" link="/" icon style="secondary" color="dark">Register</Button>
        <Button class="mt-4 inline-block" link="/" icon style="secondary" color="dark"></Button>
    </div>
</Base>