---
import { i18nParams } from '../../../i18n/consts'
import Base from '@layouts/Base.astro';
import HeroHeader from '@components/HeroHeader.astro';

export function getStaticPaths() {
	return i18nParams;
}

const { lang } = Astro.params;

---
<Base>
	<HeroHeader 
        headline="Our About page"
        text="We specialize in delivering cutting-edge Customer Experience Management solutions tailored for your business."
    />
	<div class="container max-w-screen-xl mx-auto px-8 md:px-0 py-20">
		<div class="flex flex-col md:flex-row items-center justify-center gap-10">
			<div class="md:w-1/2">
				<img src="https://via.placeholder.com/600x400" alt="About Me" class="rounded-lg">
			</div>
			<div class="md:w-1/2">
				<h2 class="text-3xl font-semibold mb-4">About Me</h2>
				<p class="text-lg leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Proin auctor consectetur risus, eu fermentum est iaculis id. Mauris vel ipsum vel purus cursus commodo. Nullam eu dui non mauris vehicula varius vel nec magna. Nam a luctus nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus non dolor nec quam elementum tincidunt.</p>
			</div>
		</div>
	</div>
	<div class="container max-w-screen-xl mx-auto px-8 md:px-0 py-20">
		<div class="flex flex-col md:flex-row-reverse items-center justify-center gap-10">
			<div class="md:w-1/2">
				<img src="https://via.placeholder.com/600x400" alt="About Me" class="rounded-lg">
			</div>
			<div class="md:w-1/2">
				<h2 class="text-3xl font-semibold mb-4">About Me</h2>
				<p class="text-lg leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Proin auctor consectetur risus, eu fermentum est iaculis id. Mauris vel ipsum vel purus cursus commodo. Nullam eu dui non mauris vehicula varius vel nec magna. Nam a luctus nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus non dolor nec quam elementum tincidunt.</p>
			</div>
		</div>
	</div>
	<div class="container max-w-screen-xl mx-auto px-8 md:px-0 py-20">
		<div class="flex flex-col md:flex-row items-center justify-center gap-10">
			<div class="md:w-1/2">
				<img src="https://via.placeholder.com/600x400" alt="About Me" class="rounded-lg">
			</div>
			<div class="md:w-1/2">
				<h2 class="text-3xl font-semibold mb-4">About Me</h2>
				<p class="text-lg leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Proin auctor consectetur risus, eu fermentum est iaculis id. Mauris vel ipsum vel purus cursus commodo. Nullam eu dui non mauris vehicula varius vel nec magna. Nam a luctus nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus non dolor nec quam elementum tincidunt.</p>
			</div>
		</div>
	</div>
</Base>
