---
import { getLangFromUrl } from '../i18n/utils';
import BaseHead from '@components/layoutcomponents/BaseHead.astro';
import Header from '@components/layoutcomponents/Header.astro';
import Footer from '@components/layoutcomponents/Footer.astro';
import TrackingFooter from '@components/uielements/TrackingFooter.astro';
import Tracking from '@components/uielements/Tracking.astro';

const { title, description, page } = Astro.props;

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const lang = getLangFromUrl(Astro.url);

---
<html class="overflow-x-clip" lang={lang} >
    <head>
        <BaseHead title={title || SITE_TITLE} description={description || SITE_DESCRIPTION} />
        {
            page == "contact" && 
            <link rel="preload" href="https://js-eu1.hsforms.net/forms/embed/v2.js" as="script" /> 
        }
        <Tracking />
    </head>
    <body class="overflow-x-clip bg-blue-800">
        <Header />
        <main id="main-content" class="max-w-[1304px] mx-auto px-8">
            <slot />
        </main>
        <Footer />
        <TrackingFooter />
    </body>
</html>