---
import { getLangFromUrl } from '../i18n/utils';
import BaseHead from '@components/layoutcomponents/BaseHead.astro';
import Header from '@components/layoutcomponents/Header.astro';
import Footer from '@components/layoutcomponents/Footer.astro';
import { ViewTransitions } from "astro:transitions";

const { title, description } = Astro.props;

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const lang = getLangFromUrl(Astro.url);

---
<html class="overflow-x-clip" lang={lang} >
    <head>
        <BaseHead title={title || SITE_TITLE} description={description || SITE_DESCRIPTION} />
        <ViewTransitions />
    </head>
    <body class="overflow-x-clip bg-blue-800">
        <Header />
        <main id="main-content" class="max-w-[1304px] mx-auto mt-24 px-8">
            <slot />
        </main>
        <Footer />
    </body>
</html>