---
import title from 'title';
const paths = Astro.url.pathname.split('/').filter(x => x);

let parts = [
  {
    text: 'Home',
    href: '/',
    'aria-current': Astro.url.pathname === '/' ? 'page' : undefined
  }
];

paths.forEach((text, i) => {
  const href = `/${paths.slice(0, i + 1).join('/')}`;
  if (i !== 0) {
    parts.push({ text: title(text.replace(/[-_]/g, ' ')), href, 'aria-current': Astro.url.pathname === href ? 'page' : undefined })
  }
})
---
{ parts.length > 1 &&
    <nav aria-label="Breadcrumb" class="">
        <ol class="flex text-white gap-4" role="list">
            {parts.map(({ text, ...attrs }, index) => (
                <li class="text-regular flex gap-4" role="listitem">
                    <a {...attrs}>{text}</a> 
                    { index !== parts.length - 1 && <span> > </span> }
                </li>
            ))}
        </ol>
    </nav>
}

