---
interface Props {
  size?: "md" | "lg";
  block?: boolean;
  style?: "primary" | "secondary";
  color?: "light" | "dark";
  class?: string;
  [x: string]: any;
}

const {
  size = "md",
  style = "primary",
  color = "dark",
  block,
  class: className,
  ...rest
} = Astro.props;

const sizes = {
  md: "px-4 py-3.5",
  lg: "px-6 py-3",
};

const styles = {
    primary_dark:
        "bg-tertiary text-black hover:bg-blue-100 border border-transparent rounded-full",
    primary_light:
        "bg-secondary text-black hover:bg-orange-100 border border-transparent rounded-full",
    secondary_light:
        "bg-tertiary text-secondary hover:bg-orange-100 border border-blue-100 rounded box-border",
    secondary_dark:
        "bg-blue text-white hover:bg-blue-900 border border-white rounded box-border",
};
---

<button
  {...rest}
  class:list={[
    "font-medium text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200",
    block && "w-full",
    sizes[size],
    styles[style + "_" + color],
    className,
  ]}
  ><slot />
</button>